---
import UserNav from '@components/molecules/userNav/UserNav.svelte';
import Sidebar from '@components/organisms/sidebar/Sidebar.svelte';
import Main from '@components/organisms/main/Main.svelte';
import MainInner from '@components/organisms/main/MainInner.svelte';
import MainContentWrapper from '@components/organisms/main/MainContentWrapper.svelte';
import Header from '@components/organisms/header/Header.svelte';
import MainContent from '@components/organisms/main/MainContent.svelte';
import HeaderPageTitle from '@components/organisms/header/HeaderPageTitle.svelte';
import ButtonToggleTheme from '@components/atoms/buttons/ButtonToggleTheme.svelte';
import ButtonToggleSidebar from '@components/atoms/buttons/ButtonToggleSidebar.svelte';
import AuthStore from '@components/storeUtil/AuthStore.svelte';
import Html from './Html.astro';
import { currentPath } from '@store/url';
import { auth } from 'src/util/auth';

export interface Props {
  title: string;
}

const { title } = Astro.props as Props;

const authUser = auth(Astro);
const pathname: string = new URL(Astro.request.url).pathname;
const hasSidebar: boolean = Astro.slots.has('sidebar');

// Save current path to store
currentPath.set(`/${pathname.slice(1)}`);
---

<Html title={title}>
  <Sidebar />
  <Main>
    <MainInner>
      <slot name="sidebar" />
      <MainContentWrapper hasSidebar={hasSidebar}>
        {hasSidebar && <ButtonToggleSidebar client:load />}
        <Header>
          <HeaderPageTitle text={title} />

          <div class="flex ml-auto space-x-3">
            <ButtonToggleTheme className="mr-6" client:load />
            {authUser && <UserNav user={authUser} client:load />}
          </div>
        </Header>
        <MainContent>
          <slot />
        </MainContent>
      </MainContentWrapper>
    </MainInner>
  </Main>

  <AuthStore user={authUser} client:load />
</Html>
